Day 5 of Python Summer Party

by Interview Master

Nintendo

Switch 2 Pre-sales Demand Forecasting

You are a Product Analyst working with the Nintendo Switch 2 pre-sales team to analyze regional pre-order patterns and customer segmentation. Your team needs to understand how different demographics influence pre-sale volumes across regions. You will leverage historical pre-sale transaction data to extract meaningful insights that can guide marketing strategies.

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creating a copy of the pre-sale data to avoid modifying the original dataset
data = pd.read_csv("pre_sale_data.csv")
ns2_psd_df = data.copy()

ns2_psd_df

,region,customer_id,pre_order_date,demographic_group,pre_order_quantity
0,North America,C001,2024-07-02,Gamer,1
1,Europe,C002,2024-07-03,Casual,2
2,Asia,C003,2024-07-04,Tech Enthusiast,1
3,Latin America,C004,2024-07-05,Family,3
4,Oceania,C005,2024-07-06,Student,2
5,North America,C006,2024-07-07,Gamer,5
6,Europe,C007,2024-07-08,NaN,2
7,NaN,C008,2024-07-09,Casual,1
8,Asia,C009,2024-07-10,Family,4
9,North America,C010,2024-07-11,Gamer,1
10,North America,C010,2024-07-11,Gamer,1
11,Europe,C011,2024-07-12,Student,2
12,Asia,C012,2024-07-13,Casual,3
13,Latin America,C013,2024-07-14,Tech Enthusiast,2
14,Oceania,C014,2024-07-15,Gamer,5
15,North America,C015,2024-07-16,Casual,1
16,Europe,C016,2024-07-17,Family,4
17,Asia,C017,2024-07-18,Student,3
18,Latin America,C018,2024-07-19,Gamer,1
19,Oceania,C019,2024-07-20,Tech Enthusiast,2
20,Oceania,C019,2024-07-20,Tech Enthusiast,2
21,North America,C020,2024-07-21,Family,3
22,Europe,C021,2024-07-22,Gamer,2
23,Asia,C022,2024-07-23,Casual,1
24,Latin America,C023,2024-07-24,Student,4
25,Oceania,C024,2024-07-25,Family,2
26,North America,C025,2024-07-26,Tech Enthusiast,1
27,Europe,C026,2024-07-27,Student,5
28,Asia,C027,2024-07-28,Gamer,2
29,Latin America,C028,2024-07-29,Casual,3
30,Oceania,C029,2024-07-30,Family,1
31,North America,C030,2024-08-01,Gamer,1
32,Asia,C031,2024-08-02,NaN,2
33,Latin America,C032,2024-08-03,Tech Enthusiast,3
34,Oceania,C033,2024-08-04,Student,1
35,North America,C034,2024-08-05,Family,4
36,Europe,C035,2024-08-06,Gamer,2
37,Asia,C036,2024-08-07,Casual,5
38,Latin America,C037,2024-08-08,Family,1
39,Oceania,C038,2024-08-09,Tech Enthusiast,2
40,North America,C039,2024-08-10,Student,10
41,Europe,C040,2024-08-11,Family,3
42,Asia,C041,2024-08-12,Gamer,1
43,Latin America,C042,2024-08-13,Casual,2
44,Oceania,C043,2024-08-14,Student,5
45,North America,C044,2024-08-15,Tech Enthusiast,2
46,Europe,C045,2024-08-16,Family,1
47,Asia,C046,2024-08-17,Gamer,3
48,Latin America,C047,2024-08-18,Casual,2
49,Oceania,C048,2024-08-19,NaN,4
50,North America,C049,2024-08-20,Student,1
51,Europe,C050,2024-08-21,Gamer,2
52,Asia,C051,2024-08-22,Casual,3
53,Latin America,C052,2024-08-23,Tech Enthusiast,2
54,Oceania,C053,2024-08-24,Family,1
55,North America,C054,2024-08-25,Gamer,1
56,Europe,C055,2024-08-26,Casual,2
57,Asia,C056,2024-08-27,Student,3
58,Latin America,C057,2024-08-28,Family,4
59,Oceania,C058,2024-08-29,Tech Enthusiast,1

Question 1 of 3

What percentage of records have missing values in at least one column? Handle the missing values, so that we have a cleaned dataset to work with.

In [3]:
# Getting initial data info
ns2_psd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              59 non-null     object
 1   customer_id         60 non-null     object
 2   pre_order_date      60 non-null     object
 3   demographic_group   57 non-null     object
 4   pre_order_quantity  60 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.5+ KB

In [4]:
# Finding out how many records have missing values in at least one column
missing_values = ns2_psd_df.isnull().sum()
print(missing_values)

region                1
customer_id           0
pre_order_date        0
demographic_group     3
pre_order_quantity    0
dtype: int64

In [5]:
# Calculating the percentage of missing values per row
percent_missing_values = ((missing_values * 100) / len(ns2_psd_df)).round(2)
print(percent_missing_values)

region                1.67
customer_id           0.00
pre_order_date        0.00
demographic_group     5.00
pre_order_quantity    0.00
dtype: float64

In [6]:
# Calculating the percentage of rows with missing values
percent_rows_with_missing = (ns2_psd_df.isnull().any(axis=1).mean() * 100).round(2)
print(percent_rows_with_missing)

6.67

In [7]:
# Calculating the complete duplicate records
duplicate_records = ns2_psd_df.duplicated().sum()
print("The number of duplicate values on the data set is:", duplicate_records)

The number of duplicate values on the data set is: 2

In [8]:
# Identify all duplicate rows, including the first occurrence
all_duplicate_rows = ns2_psd_df[ns2_psd_df.duplicated(keep=False)]
# Display all duplicate rows
print(all_duplicate_rows)

           region customer_id pre_order_date demographic_group  \
9   North America        C010     2024-07-11             Gamer
10  North America        C010     2024-07-11             Gamer
19        Oceania        C019     2024-07-20   Tech Enthusiast
20        Oceania        C019     2024-07-20   Tech Enthusiast

    pre_order_quantity
9                    1
10                   1
19                   2
20                   2

In [9]:
# Handling missing values
# Since the missing values are objects, I will use the Mode to fill them
region_mode = ns2_psd_df["region"].mode()[0]
demographic_group_mode = ns2_psd_df["demographic_group"].mode()[0]

print("Region Mode:", region_mode)
print("Demographic Group Mode:", demographic_group_mode)
print()

Clean_psd_df = ns2_psd_df.fillna(
    {
        "region": region_mode,
        "demographic_group": demographic_group_mode,
    }
)
Clean_psd_df.info()

Region Mode: North America
Demographic Group Mode: Gamer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              60 non-null     object
 1   customer_id         60 non-null     object
 2   pre_order_date      60 non-null     object
 3   demographic_group   60 non-null     object
 4   pre_order_quantity  60 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.5+ KB

In [10]:
# Printing the answer for question 1
print("The number of missing values in the data set are:")
print(missing_values)
print()

print("The percentage of records with missing values in the data set are:")
print(percent_missing_values)
print()

print(
    "The percentage of rows with at least one missing value in the data set is",
    percent_rows_with_missing,
), "%"
print()

print("The count of duplicate records in the data set are:")
print(duplicate_records)
print()

print("Clean version of the data set with handled missing values:")
Clean_psd_df

The number of missing values in the data set are:
region                1
customer_id           0
pre_order_date        0
demographic_group     3
pre_order_quantity    0
dtype: int64

The percentage of records with missing values in the data set are:
region                1.67
customer_id           0.00
pre_order_date        0.00
demographic_group     5.00
pre_order_quantity    0.00
dtype: float64

The percentage of rows with at least one missing value in the data set is 6.67

The count of duplicate records in the data set are:
2

Clean version of the data set with handled missing values:

,region,customer_id,pre_order_date,demographic_group,pre_order_quantity
0,North America,C001,2024-07-02,Gamer,1
1,Europe,C002,2024-07-03,Casual,2
2,Asia,C003,2024-07-04,Tech Enthusiast,1
3,Latin America,C004,2024-07-05,Family,3
4,Oceania,C005,2024-07-06,Student,2
5,North America,C006,2024-07-07,Gamer,5
6,Europe,C007,2024-07-08,Gamer,2
7,North America,C008,2024-07-09,Casual,1
8,Asia,C009,2024-07-10,Family,4
9,North America,C010,2024-07-11,Gamer,1
10,North America,C010,2024-07-11,Gamer,1
11,Europe,C011,2024-07-12,Student,2
12,Asia,C012,2024-07-13,Casual,3
13,Latin America,C013,2024-07-14,Tech Enthusiast,2
14,Oceania,C014,2024-07-15,Gamer,5
15,North America,C015,2024-07-16,Casual,1
16,Europe,C016,2024-07-17,Family,4
17,Asia,C017,2024-07-18,Student,3
18,Latin America,C018,2024-07-19,Gamer,1
19,Oceania,C019,2024-07-20,Tech Enthusiast,2
20,Oceania,C019,2024-07-20,Tech Enthusiast,2
21,North America,C020,2024-07-21,Family,3
22,Europe,C021,2024-07-22,Gamer,2
23,Asia,C022,2024-07-23,Casual,1
24,Latin America,C023,2024-07-24,Student,4
25,Oceania,C024,2024-07-25,Family,2
26,North America,C025,2024-07-26,Tech Enthusiast,1
27,Europe,C026,2024-07-27,Student,5
28,Asia,C027,2024-07-28,Gamer,2
29,Latin America,C028,2024-07-29,Casual,3
30,Oceania,C029,2024-07-30,Family,1
31,North America,C030,2024-08-01,Gamer,1
32,Asia,C031,2024-08-02,Gamer,2
33,Latin America,C032,2024-08-03,Tech Enthusiast,3
34,Oceania,C033,2024-08-04,Student,1
35,North America,C034,2024-08-05,Family,4
36,Europe,C035,2024-08-06,Gamer,2
37,Asia,C036,2024-08-07,Casual,5
38,Latin America,C037,2024-08-08,Family,1
39,Oceania,C038,2024-08-09,Tech Enthusiast,2
40,North America,C039,2024-08-10,Student,10
41,Europe,C040,2024-08-11,Family,3
42,Asia,C041,2024-08-12,Gamer,1
43,Latin America,C042,2024-08-13,Casual,2
44,Oceania,C043,2024-08-14,Student,5
45,North America,C044,2024-08-15,Tech Enthusiast,2
46,Europe,C045,2024-08-16,Family,1
47,Asia,C046,2024-08-17,Gamer,3
48,Latin America,C047,2024-08-18,Casual,2
49,Oceania,C048,2024-08-19,Gamer,4
50,North America,C049,2024-08-20,Student,1
51,Europe,C050,2024-08-21,Gamer,2
52,Asia,C051,2024-08-22,Casual,3
53,Latin America,C052,2024-08-23,Tech Enthusiast,2
54,Oceania,C053,2024-08-24,Family,1
55,North America,C054,2024-08-25,Gamer,1
56,Europe,C055,2024-08-26,Casual,2
57,Asia,C056,2024-08-27,Student,3
58,Latin America,C057,2024-08-28,Family,4
59,Oceania,C058,2024-08-29,Tech Enthusiast,1

Question 2 of 3:

Using the cleaned data, calculate the total pre-sale orders per month for each region and demographic group.

In [11]:
Clean_psd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              60 non-null     object
 1   customer_id         60 non-null     object
 2   pre_order_date      60 non-null     object
 3   demographic_group   60 non-null     object
 4   pre_order_quantity  60 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.5+ KB

We can see that "pre_order_date has been turned into an object instead of its original datetime format.

We will transform it back for further analysis

In [12]:
Clean_psd_df["pre_order_date"] = pd.to_datetime(Clean_psd_df["pre_order_date"], format="%Y-%m-%d")
Clean_psd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              60 non-null     object
 1   customer_id         60 non-null     object
 2   pre_order_date      60 non-null     datetime64[ns]
 3   demographic_group   60 non-null     object
 4   pre_order_quantity  60 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 2.5+ KB

In [13]:
#We first need to group the data by month 
month_grouper = pd.Grouper(key="pre_order_date", freq="M")
print(month_grouper)

TimeGrouper(key='pre_order_date', freq=<MonthEnd>, axis=0, sort=True, dropna=True, closed='right', label='right', how='mean', convention='e', origin='start_day')

C:\Users\jovazqu\AppData\Local\Temp\ipykernel_32948\1983913313.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  month_grouper = pd.Grouper(key="pre_order_date", freq="M")

In [14]:
Grouping_df = (
    Clean_psd_df.groupby(
        [month_grouper, "region", "demographic_group"], as_index=False)
    .agg(total_orders=("pre_order_quantity", "sum"))
    .sort_values(by=["pre_order_date", "region", "demographic_group"])
)
Grouping_df

   pre_order_date         region demographic_group  total_orders
0      2024-07-31           Asia            Casual             4
1      2024-07-31           Asia            Family             4
2      2024-07-31           Asia             Gamer             2
3      2024-07-31           Asia           Student             3
4      2024-07-31           Asia   Tech Enthusiast             1
5      2024-07-31         Europe            Casual             2
6      2024-07-31         Europe            Family             4
7      2024-07-31         Europe             Gamer             4
8      2024-07-31         Europe           Student             7
9      2024-07-31  Latin America            Casual             3
10     2024-07-31  Latin America            Family             3
11     2024-07-31  Latin America             Gamer             1
12     2024-07-31  Latin America           Student             4
13     2024-07-31  Latin America   Tech Enthusiast             2
14     2024-07-31  North America            Casual             2
15     2024-07-31  North America            Family             3
16     2024-07-31  North America             Gamer             8
17     2024-07-31  North America   Tech Enthusiast             1
18     2024-07-31        Oceania            Family             3
19     2024-07-31        Oceania             Gamer             5
20     2024-07-31        Oceania           Student             2
21     2024-07-31        Oceania   Tech Enthusiast             4
22     2024-08-31           Asia            Casual             8
23     2024-08-31           Asia             Gamer             6
24     2024-08-31           Asia           Student             3
25     2024-08-31         Europe            Casual             2
26     2024-08-31         Europe            Family             4
27     2024-08-31         Europe             Gamer             4
28     2024-08-31  Latin America            Casual             4
29     2024-08-31  Latin America            Family             5
30     2024-08-31  Latin America   Tech Enthusiast             5
31     2024-08-31  North America            Family             4
32     2024-08-31  North America             Gamer             2
33     2024-08-31  North America           Student            11
34     2024-08-31  North America   Tech Enthusiast             2
35     2024-08-31        Oceania            Family             1
36     2024-08-31        Oceania             Gamer             4
37     2024-08-31        Oceania           Student             6
38     2024-08-31        Oceania   Tech Enthusiast             3

Question 3 of 3

Predict the total pre-sales quantity for each region for September 2024. Assume that growth rate from August to September is the same as the growth rate from July to August in each region.

Think about how you might:

- Calculate total pre-sales per region for July and August,
- Compute the growth rate between these two months,
- Use that growth rate to estimate Septembers pre-sales.

In [15]:
Clean_psd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   region              60 non-null     object
 1   customer_id         60 non-null     object
 2   pre_order_date      60 non-null     datetime64[ns]
 3   demographic_group   60 non-null     object
 4   pre_order_quantity  60 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 2.5+ KB

In [16]:
#To answer this question a bit more efficiently we will create a month column so we can easily filter the data
Clean_psd_df["pre_order_year"] = Clean_psd_df["pre_order_date"].dt.year
Clean_psd_df["pre_order_month"] = Clean_psd_df["pre_order_date"].dt.month
Clean_psd_df

,region,customer_id,pre_order_date,demographic_group,pre_order_quantity,pre_order_year,pre_order_month
0,North America,C001,2024-07-02,Gamer,1,2024,7
1,Europe,C002,2024-07-03,Casual,2,2024,7
2,Asia,C003,2024-07-04,Tech Enthusiast,1,2024,7
3,Latin America,C004,2024-07-05,Family,3,2024,7
4,Oceania,C005,2024-07-06,Student,2,2024,7
5,North America,C006,2024-07-07,Gamer,5,2024,7
6,Europe,C007,2024-07-08,Gamer,2,2024,7
7,North America,C008,2024-07-09,Casual,1,2024,7
8,Asia,C009,2024-07-10,Family,4,2024,7
9,North America,C010,2024-07-11,Gamer,1,2024,7
10,North America,C010,2024-07-11,Gamer,1,2024,7
11,Europe,C011,2024-07-12,Student,2,2024,7
12,Asia,C012,2024-07-13,Casual,3,2024,7
13,Latin America,C013,2024-07-14,Tech Enthusiast,2,2024,7
14,Oceania,C014,2024-07-15,Gamer,5,2024,7
15,North America,C015,2024-07-16,Casual,1,2024,7
16,Europe,C016,2024-07-17,Family,4,2024,7
17,Asia,C017,2024-07-18,Student,3,2024,7
18,Latin America,C018,2024-07-19,Gamer,1,2024,7
19,Oceania,C019,2024-07-20,Tech Enthusiast,2,2024,7
20,Oceania,C019,2024-07-20,Tech Enthusiast,2,2024,7
21,North America,C020,2024-07-21,Family,3,2024,7
22,Europe,C021,2024-07-22,Gamer,2,2024,7
23,Asia,C022,2024-07-23,Casual,1,2024,7
24,Latin America,C023,2024-07-24,Student,4,2024,7
25,Oceania,C024,2024-07-25,Family,2,2024,7
26,North America,C025,2024-07-26,Tech Enthusiast,1,2024,7
27,Europe,C026,2024-07-27,Student,5,2024,7
28,Asia,C027,2024-07-28,Gamer,2,2024,7
29,Latin America,C028,2024-07-29,Casual,3,2024,7
30,Oceania,C029,2024-07-30,Family,1,2024,7
31,North America,C030,2024-08-01,Gamer,1,2024,8
32,Asia,C031,2024-08-02,Gamer,2,2024,8
33,Latin America,C032,2024-08-03,Tech Enthusiast,3,2024,8
34,Oceania,C033,2024-08-04,Student,1,2024,8
35,North America,C034,2024-08-05,Family,4,2024,8
36,Europe,C035,2024-08-06,Gamer,2,2024,8
37,Asia,C036,2024-08-07,Casual,5,2024,8
38,Latin America,C037,2024-08-08,Family,1,2024,8
39,Oceania,C038,2024-08-09,Tech Enthusiast,2,2024,8
40,North America,C039,2024-08-10,Student,10,2024,8
41,Europe,C040,2024-08-11,Family,3,2024,8
42,Asia,C041,2024-08-12,Gamer,1,2024,8
43,Latin America,C042,2024-08-13,Casual,2,2024,8
44,Oceania,C043,2024-08-14,Student,5,2024,8
45,North America,C044,2024-08-15,Tech Enthusiast,2,2024,8
46,Europe,C045,2024-08-16,Family,1,2024,8
47,Asia,C046,2024-08-17,Gamer,3,2024,8
48,Latin America,C047,2024-08-18,Casual,2,2024,8
49,Oceania,C048,2024-08-19,Gamer,4,2024,8
50,North America,C049,2024-08-20,Student,1,2024,8
51,Europe,C050,2024-08-21,Gamer,2,2024,8
52,Asia,C051,2024-08-22,Casual,3,2024,8
53,Latin America,C052,2024-08-23,Tech Enthusiast,2,2024,8
54,Oceania,C053,2024-08-24,Family,1,2024,8
55,North America,C054,2024-08-25,Gamer,1,2024,8
56,Europe,C055,2024-08-26,Casual,2,2024,8
57,Asia,C056,2024-08-27,Student,3,2024,8
58,Latin America,C057,2024-08-28,Family,4,2024,8
59,Oceania,C058,2024-08-29,Tech Enthusiast,1,2024,8

In [17]:
Grouping_df = (
    Clean_psd_df.groupby(
        ["pre_order_month", "region", "demographic_group"], as_index=False)
    .agg(total_orders=("pre_order_quantity", "sum"))
    .sort_values(by=["pre_order_month", "region", "demographic_group"])
)
Grouping_df

    pre_order_month         region demographic_group  total_orders
0                 7           Asia            Casual             4
1                 7           Asia            Family             4
2                 7           Asia             Gamer             2
3                 7           Asia           Student             3
4                 7           Asia   Tech Enthusiast             1
5                 7         Europe            Casual             2
6                 7         Europe            Family             4
7                 7         Europe             Gamer             4
8                 7         Europe           Student             7
9                 7  Latin America            Casual             3
10                7  Latin America            Family             3
11                7  Latin America             Gamer             1
12                7  Latin America           Student             4
13                7  Latin America   Tech Enthusiast             2
14                7  North America            Casual             2
15                7  North America            Family             3
16                7  North America             Gamer             8
17                7  North America   Tech Enthusiast             1
18                7        Oceania            Family             3
19                7        Oceania             Gamer             5
20                7        Oceania           Student             2
21                7        Oceania   Tech Enthusiast             4
22                8           Asia            Casual             8
23                8           Asia             Gamer             6
24                8           Asia           Student             3
25                8         Europe            Casual             2
26                8         Europe            Family             4
27                8         Europe             Gamer             4
28                8  Latin America            Casual             4
29                8  Latin America            Family             5
30                8  Latin America   Tech Enthusiast             5
31                8  North America            Family             4
32                8  North America             Gamer             2
33                8  North America           Student            11
34                8  North America   Tech Enthusiast             2
35                8        Oceania            Family             1
36                8        Oceania             Gamer             4
37                8        Oceania           Student             6
38                8        Oceania   Tech Enthusiast             3

In [18]:
new_grouping = Grouping_df.groupby(
        ["pre_order_month", "region"])["total_orders"].sum().reset_index()
new_grouping

   pre_order_month         region  total_orders
0                7           Asia            14
1                7         Europe            17
2                7  Latin America            13
3                7  North America            14
4                7        Oceania            14
5                8           Asia            17
6                8         Europe            10
7                8  Latin America            14
8                8  North America            19
9                8        Oceania            14

In [19]:
Pivot_df = new_grouping.pivot(index= 'region', columns='pre_order_month', values=['total_orders']).reset_index()
Pivot_df

                        region total_orders
pre_order_month                           7   8
0                         Asia           14  17
1                       Europe           17  10
2                Latin America           13  14
3                North America           14  19
4                      Oceania           14  14

In [20]:
JulAug_Growth_rate = Pivot_df['total_orders', 8] / Pivot_df['total_orders', 7]  # Growth rate from July to August
print("Growth rate from July to August:")
print(JulAug_Growth_rate)

# Adding the growth rate to the pivot DataFrame
Pivot_df["Jul-Aug_Growth_Rate"] = JulAug_Growth_rate.round(2)

Pivot_df_growth = Pivot_df
Pivot_df_growth

Growth rate from July to August:
0    1.214286
1    0.588235
2    1.076923
3    1.357143
4    1.000000
dtype: float64

                        region total_orders     Jul-Aug_Growth_Rate
pre_order_month                           7   8
0                         Asia           14  17                1.21
1                       Europe           17  10                0.59
2                Latin America           13  14                1.08
3                North America           14  19                1.36
4                      Oceania           14  14                1.00

In [21]:
Predicted_September = Pivot_df_growth['total_orders', 8] * Pivot_df_growth['Jul-Aug_Growth_Rate']
print("Predicted pre-sales quantity for September 2024:")
print(Predicted_September)

#Adding the predicted September values to the DataFrame
Pivot_df_growth["September_Predicted_presales"] = Predicted_September.round(0)

Predicted_September_presales = Pivot_df_growth
print("Predicted pre-sales quantity for September 2024 by region:")
Predicted_September_presales

Predicted pre-sales quantity for September 2024:
0    20.57
1     5.90
2    15.12
3    25.84
4    14.00
dtype: float64
Predicted pre-sales quantity for September 2024 by region:

                        region total_orders     Jul-Aug_Growth_Rate  \
pre_order_month                           7   8
0                         Asia           14  17                1.21
1                       Europe           17  10                0.59
2                Latin America           13  14                1.08
3                North America           14  19                1.36
4                      Oceania           14  14                1.00

                September_Predicted_presales
pre_order_month
0                                       21.0
1                                        6.0
2                                       15.0
3                                       26.0
4                                       14.0

In [22]:
Pivot_df.columns = [
    c if isinstance(c, str) else f"{c[0]}{c[1]}"
    for c in Pivot_df.columns
]
Pivot_df.columns

Index(['region', 'total_orders7', 'total_orders8', 'Jul-Aug_Growth_Rate',
       'September_Predicted_presales'],
      dtype='object')

In [23]:
final_df = Pivot_df.rename(columns={
    "total_orders7": "July",
    "total_orders8": "August",
    "Jul-Aug_Growth_Rate": "growth_rate",
    "September_Predicted_presales": "September (predicted)"
})
final_df

          region  July  August  growth_rate  September (predicted)
0           Asia    14      17         1.21                   21.0
1         Europe    17      10         0.59                    6.0
2  Latin America    13      14         1.08                   15.0
3  North America    14      19         1.36                   26.0
4        Oceania    14      14         1.00                   14.0

In [24]:
# Answering the final question by selecting the relevant columns
final_df = final_df[["region", "July", "August", "growth_rate", "September (predicted)"]]
final_df

          region  July  August  growth_rate  September (predicted)
0           Asia    14      17         1.21                   21.0
1         Europe    17      10         0.59                    6.0
2  Latin America    13      14         1.08                   15.0
3  North America    14      19         1.36                   26.0
4        Oceania    14      14         1.00                   14.0

In [ ]:
#FINAL CODE

# # Creating a copy of the pre-sale data to avoid modifying the original dataset
# data = pre_sale_data
# ns2_psd_df = data.copy()

# print(ns2_psd_df)
# print("-" * 100)
# print()

# # Getting initial data info
# ns2_psd_df.info()
# print("-" * 100)
# print()

# # Finding out how many records have missing values in at least one column
# missing_values = ns2_psd_df.isnull().sum()
# print(missing_values)
# print("-" * 100)
# print()

# # Calculating the percentage of missing values per row
# percent_missing_values = ((missing_values * 100) / len(ns2_psd_df)).round(2)
# print(percent_missing_values)
# print("-" * 100)
# print()

# # Calculating the percentage of rows with missing values
# percent_rows_with_missing = (ns2_psd_df.isnull().any(axis=1).mean() * 100).round(2)
# print(percent_rows_with_missing)
# print("-" * 100)
# print()

# # Calculating the complete duplicate records
# duplicate_records = ns2_psd_df.duplicated().sum()
# print("The number of duplicate values on the data set is:", duplicate_records)
# print("-" * 100)
# print()

# # Identify all duplicate rows, including the first occurrence
# all_duplicate_rows = ns2_psd_df[ns2_psd_df.duplicated(keep=False)]
# # Display all duplicate rows
# print(all_duplicate_rows)
# print("-" * 100)
# print()

# # Handling missing values
# # Since the missing values are objects, I will use the Mode to fill them
# region_mode = ns2_psd_df["region"].mode()[0]
# demographic_group_mode = ns2_psd_df["demographic_group"].mode()[0]

# print("Region Mode:", region_mode)
# print("Demographic Group Mode:", demographic_group_mode)
# print("-" * 100)
# print()

# Clean_psd_df = ns2_psd_df.fillna(
#     {
#         "region": region_mode,
#         "demographic_group": demographic_group_mode,
#     }
# )
# print(Clean_psd_df.info())
# print("-" * 100)
# print()

# # Printing the answer for question 1
# print("The number of missing values in the data set are:")
# print(missing_values)
# print()

# print("The percentage of records with missing values in the data set are:")
# print(percent_missing_values)
# print()

# print(
#     "The percentage of rows with at least one missing value in the data set is",
#     percent_rows_with_missing,
# ), "%"
# print()

# print("The count of duplicate records in the data set are:")
# print(duplicate_records)
# print()

# print("Clean version of the data set with handled missing values:")
# print(Clean_psd_df)

# #####################################################################

# print(Clean_psd_df.info())
# print("-" * 100)
# print()

# # We can see that "pre_order_date has been turned into an object instead of its original datetime format.
# # We will transform it back for further analysis
# Clean_psd_df["pre_order_date"] = pd.to_datetime(Clean_psd_df["pre_order_date"], format="%Y-%m-%d")
# print(Clean_psd_df.info())
# print("-" * 100)
# print()

# #We first need to group the data by month 
# month_grouper = pd.Grouper(key="pre_order_date", freq="M")
# print(month_grouper)
# print("-" * 100)
# print()

# # Answer
# Grouping_df = (
#     Clean_psd_df.groupby(
#         [month_grouper, "region", "demographic_group"], as_index=False)
#     .agg(total_orders=("pre_order_quantity", "sum"))
#     .sort_values(by=["pre_order_date", "region", "demographic_group"])
# )
# print(Grouping_df)
# print("-" * 100)
# print()

# ################################################################
# print(Clean_psd_df.info())
# print()

# #To answer this question a bit more efficiently we will create a month column so we can easily filter the data
# Clean_psd_df["pre_order_year"] = Clean_psd_df["pre_order_date"].dt.year
# Clean_psd_df["pre_order_month"] = Clean_psd_df["pre_order_date"].dt.month
# print(Clean_psd_df)
# print("-" * 100)
# print()

# Grouping_df = (
#     Clean_psd_df.groupby(
#         ["pre_order_month", "region", "demographic_group"], as_index=False)
#     .agg(total_orders=("pre_order_quantity", "sum"))
#     .sort_values(by=["pre_order_month", "region", "demographic_group"])
# )
# print(Grouping_df)
# print("-" * 100)
# print()

# new_grouping = Grouping_df.groupby(
#         ["pre_order_month", "region"])["total_orders"].sum().reset_index()
# print(new_grouping)
# print("-" * 100)
# print()

# Pivot_df = new_grouping.pivot(index= 'region', columns='pre_order_month', values=['total_orders']).reset_index()
# print(Pivot_df)
# print("-" * 100)
# print()

# JulAug_Growth_rate = Pivot_df['total_orders', 8] / Pivot_df['total_orders', 7]  # Growth rate from July to August
# print("Growth rate from July to August:")
# print(JulAug_Growth_rate)
# print()

# # Adding the growth rate to the pivot DataFrame
# Pivot_df["Jul-Aug_Growth_Rate"] = JulAug_Growth_rate

# Pivot_df_growth = Pivot_df
# print(Pivot_df_growth)
# print("-" * 100)
# print()

# Predicted_September = Pivot_df_growth['total_orders', 8] * Pivot_df_growth['Jul-Aug_Growth_Rate']
# print("Predicted pre-sales quantity for September 2024:")
# print(Predicted_September)

# #Adding the predicted September values to the DataFrame
# Pivot_df_growth["September_Predicted_presales"] = Predicted_September.round(0)

# Predicted_September_presales = Pivot_df_growth
# print("Predicted pre-sales quantity for September 2024 by region:")
# print(Predicted_September_presales)
# print("-" * 100)
# print()



# Pivot_df.columns = [
#     c if isinstance(c, str) else f"{c[0]}{c[1]}"
#     for c in Pivot_df.columns
# ]
# print(Pivot_df.columns)
# print()

# final_df = Pivot_df.rename(columns={
#     "total_orders7": "July 2024",
#     "total_orders8": "August 2024",
#     "Jul-Aug_Growth_Rate": "growth_rate",
#     "September_Predicted_presales": "September 2024 (predicted)"
# })
# print(final_df)
# print()

# # Answering the final question by selecting the relevant columns
# final_df = final_df[["region", "July 2024", "August 2024", "growth_rate", "September 2024 (predicted)"]]
# final_df