# Day 6: Ice Cream Sales Seasonal Performance Assessment

You are a Product Insights Analyst working with the Ben & Jerry's sales strategy team to investigate seasonal sales patterns through comprehensive data analysis. The team wants to understand how temperature variations and unique transaction characteristics impact ice cream sales volume. Your goal is to perform detailed data cleaning and exploratory analysis to uncover meaningful insights about seasonal sales performance.

In [ ]:
import pandas as pd
import numpy as np

ice_cream_sales_data_data = [
  {
    "sale_date": "2024-07-05",
    "temperature": 62,
    "product_name": "Cherry Garcia",
    "sales_volume": 23,
    "transaction_id": "TX0001"
  },
  {
    "sale_date": "2024-08-15",
    "temperature": 64,
    "product_name": "Chunky Monkey",
    "sales_volume": 26,
    "transaction_id": "TX0002"
  },
  {
    "sale_date": "2024-09-25",
    "temperature": 66,
    "product_name": "Phish Food",
    "sales_volume": 29,
    "transaction_id": "TX0003"
  },
  {
    "sale_date": "2024-10-05",
    "temperature": 68,
    "product_name": "Americone Dream",
    "sales_volume": 32,
    "transaction_id": "TX0004"
  },
  {
    "sale_date": "2024-11-15",
    "temperature": 70,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 35,
    "transaction_id": "TX0005"
  },
  {
    "sale_date": "2024-12-25",
    "temperature": 72,
    "product_name": "Half Baked",
    "sales_volume": 38,
    "transaction_id": "TX0006"
  },
  {
    "sale_date": "2025-01-05",
    "temperature": 74,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 41,
    "transaction_id": "TX0007"
  },
  {
    "sale_date": "2025-02-15",
    "temperature": 76,
    "product_name": "Cherry Garcia",
    "sales_volume": 44,
    "transaction_id": "TX0008"
  },
  {
    "sale_date": "2025-03-25",
    "temperature": 78,
    "product_name": "Chunky Monkey",
    "sales_volume": 47,
    "transaction_id": "TX0009"
  },
  {
    "sale_date": "2025-04-05",
    "temperature": 80,
    "product_name": "Phish Food",
    "sales_volume": 50,
    "transaction_id": "TX0010"
  },
  {
    "sale_date": "2025-05-15",
    "temperature": 82,
    "product_name": "Americone Dream",
    "sales_volume": 53,
    "transaction_id": "TX0011"
  },
  {
    "sale_date": "2025-06-25",
    "temperature": 84,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 1000,
    "transaction_id": "TX0012"
  },
  {
    "sale_date": "2024-07-05",
    "temperature": 86,
    "product_name": "Half Baked",
    "sales_volume": 59,
    "transaction_id": "TX0013"
  },
  {
    "sale_date": "2024-08-15",
    "temperature": 88,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 62,
    "transaction_id": "TX0014"
  },
  {
    "sale_date": "2024-09-25",
    "temperature": 90,
    "product_name": "Cherry Garcia",
    "sales_volume": 65,
    "transaction_id": "TX0015"
  },
  {
    "sale_date": "2024-10-05",
    "temperature": 61,
    "product_name": "Chunky Monkey",
    "sales_volume": 68,
    "transaction_id": "TX0016"
  },
  {
    "sale_date": "2024-11-15",
    "temperature": 63,
    "product_name": "Phish Food",
    "sales_volume": 71,
    "transaction_id": "TX0017"
  },
  {
    "sale_date": "2024-12-25",
    "temperature": 65,
    "product_name": "Americone Dream",
    "sales_volume": 74,
    "transaction_id": "TX0018"
  },
  {
    "sale_date": "2025-01-05",
    "temperature": 67,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 77,
    "transaction_id": "TX0019"
  },
  {
    "sale_date": "2025-02-15",
    "temperature": 105,
    "product_name": "Half Baked",
    "sales_volume": 80,
    "transaction_id": "TX0020"
  },
  {
    "sale_date": "2025-03-25",
    "temperature": 71,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 83,
    "transaction_id": "TX0021"
  },
  {
    "sale_date": "2025-04-05",
    "temperature": null,
    "product_name": "Cherry Garcia",
    "sales_volume": 86,
    "transaction_id": "TX0022"
  },
  {
    "sale_date": "2025-05-15",
    "temperature": 75,
    "product_name": "Chunky Monkey",
    "sales_volume": 89,
    "transaction_id": "TX0023"
  },
  {
    "sale_date": "2025-06-25",
    "temperature": 77,
    "product_name": "Phish Food",
    "sales_volume": 92,
    "transaction_id": "TX0024"
  },
  {
    "sale_date": "2024-07-05",
    "temperature": 79,
    "product_name": "Americone Dream",
    "sales_volume": 95,
    "transaction_id": "TX0025"
  },
  {
    "sale_date": "2024-08-15",
    "temperature": 81,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 98,
    "transaction_id": "TX0026"
  },
  {
    "sale_date": "2024-09-25",
    "temperature": 83,
    "product_name": "Half Baked",
    "sales_volume": 101,
    "transaction_id": "TX0027"
  },
  {
    "sale_date": "2024-10-05",
    "temperature": 85,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 104,
    "transaction_id": "TX0028"
  },
  {
    "sale_date": "2024-11-15",
    "temperature": 87,
    "product_name": "Cherry Garcia",
    "sales_volume": 107,
    "transaction_id": "TX0029"
  },
  {
    "sale_date": "2024-12-25",
    "temperature": 89,
    "product_name": "Chunky Monkey",
    "sales_volume": 110,
    "transaction_id": "TX0030"
  },
  {
    "sale_date": "2025-01-05",
    "temperature": 60,
    "product_name": "Phish Food",
    "sales_volume": 113,
    "transaction_id": "TX0031"
  },
  {
    "sale_date": "2025-02-15",
    "temperature": 62,
    "product_name": "Americone Dream",
    "sales_volume": 116,
    "transaction_id": "TX0032"
  },
  {
    "sale_date": "2025-03-25",
    "temperature": 64,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 119,
    "transaction_id": "TX0033"
  },
  {
    "sale_date": "2025-04-05",
    "temperature": 66,
    "product_name": "Half Baked",
    "sales_volume": 122,
    "transaction_id": "TX0034"
  },
  {
    "sale_date": "2025-05-15",
    "temperature": 68,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 125,
    "transaction_id": "TX0035"
  },
  {
    "sale_date": "2025-06-25",
    "temperature": 70,
    "product_name": "Cherry Garcia",
    "sales_volume": 128,
    "transaction_id": "TX0036"
  },
  {
    "sale_date": "2024-07-05",
    "temperature": 72,
    "product_name": "Chunky Monkey",
    "sales_volume": 1200,
    "transaction_id": "TX0037"
  },
  {
    "sale_date": "2024-08-15",
    "temperature": 74,
    "product_name": "Phish Food",
    "sales_volume": 134,
    "transaction_id": "TX0038"
  },
  {
    "sale_date": "2024-09-25",
    "temperature": 76,
    "product_name": "Americone Dream",
    "sales_volume": 137,
    "transaction_id": "TX0039"
  },
  {
    "sale_date": "2024-10-05",
    "temperature": 78,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 140,
    "transaction_id": "TX0040"
  },
  {
    "sale_date": "2024-11-15",
    "temperature": 80,
    "product_name": "Half Baked",
    "sales_volume": 143,
    "transaction_id": "TX0041"
  },
  {
    "sale_date": "2024-12-25",
    "temperature": 82,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 146,
    "transaction_id": "TX0042"
  },
  {
    "sale_date": "2025-01-05",
    "temperature": 84,
    "product_name": "Cherry Garcia",
    "sales_volume": 149,
    "transaction_id": "TX0043"
  },
  {
    "sale_date": "2025-02-15",
    "temperature": 86,
    "product_name": "Chunky Monkey",
    "sales_volume": 22,
    "transaction_id": "TX0044"
  },
  {
    "sale_date": "2025-03-25",
    "temperature": 40,
    "product_name": "Phish Food",
    "sales_volume": 25,
    "transaction_id": "TX0045"
  },
  {
    "sale_date": "2025-04-05",
    "temperature": 90,
    "product_name": "Americone Dream",
    "sales_volume": 28,
    "transaction_id": "TX0046"
  },
  {
    "sale_date": "2025-05-15",
    "temperature": 61,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 31,
    "transaction_id": "TX0047"
  },
  {
    "sale_date": "2025-06-25",
    "temperature": 63,
    "product_name": "Half Baked",
    "sales_volume": 34,
    "transaction_id": "TX0048"
  },
  {
    "sale_date": "2024-07-05",
    "temperature": 65,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 37,
    "transaction_id": "TX0049"
  },
  {
    "sale_date": "2024-08-15",
    "temperature": 67,
    "product_name": "Cherry Garcia",
    "sales_volume": 40,
    "transaction_id": "TX0050"
  },
  {
    "sale_date": "2024-09-25",
    "temperature": 69,
    "product_name": "Chunky Monkey",
    "sales_volume": 43,
    "transaction_id": "TX0051"
  },
  {
    "sale_date": "2024-10-05",
    "temperature": 71,
    "product_name": "Phish Food",
    "sales_volume": 46,
    "transaction_id": "TX0052"
  },
  {
    "sale_date": "2024-11-15",
    "temperature": 73,
    "product_name": "Americone Dream",
    "sales_volume": 49,
    "transaction_id": "TX0053"
  },
  {
    "sale_date": "2024-12-25",
    "temperature": 75,
    "product_name": "Chocolate Fudge Brownie",
    "sales_volume": 52,
    "transaction_id": "TX0054"
  },
  {
    "sale_date": "2025-01-05",
    "temperature": null,
    "product_name": "Half Baked",
    "sales_volume": 55,
    "transaction_id": "TX0055"
  },
  {
    "sale_date": "2025-02-15",
    "temperature": 79,
    "product_name": "New York Super Fudge Chunk",
    "sales_volume": 58,
    "transaction_id": "TX0056"
  },
  {
    "sale_date": "2025-03-25",
    "temperature": 81,
    "product_name": "Cherry Garcia",
    "sales_volume": 61,
    "transaction_id": "TX0057"
  },
  {
    "sale_date": "2025-04-05",
    "temperature": 83,
    "product_name": "Chunky Monkey",
    "sales_volume": 64,
    "transaction_id": "TX0058"
  },
  {
    "sale_date": "2025-05-15",
    "temperature": 85,
    "product_name": "Phish Food",
    "sales_volume": 67,
    "transaction_id": "TX0059"
  },
  {
    "sale_date": "2025-06-25",
    "temperature": 87,
    "product_name": "Americone Dream",
    "sales_volume": 70,
    "transaction_id": "TX0060"
  },
  {
    "sale_date": "2024-12-25",
    "temperature": 89,
    "product_name": "Chunky Monkey",
    "sales_volume": 110,
    "transaction_id": "TX0030"
  }
]
ice_cream_sales_data = pd.DataFrame(ice_cream_sales_data_data)

## Question 1

Identify and remove any duplicate sales transactions from the dataset to ensure accurate analysis of seasonal patterns.

In [ ]:
# Note: pandas and numpy are already imported as pd and np
# The following tables are loaded as pandas DataFrames with the same names: ice_cream_sales_data
# Please print your final result or dataframe

# Load the ice cream sales data
icsd_df = ice_cream_sales_data.copy()
print(icsd_df)
print("=" * 100)
print()

# Display initial information about the dataframe
print(icsd_df.info())
print("=" * 100)
print()

# Comments: We can see from the dataframe information that there is a total of 61 entries and there are mising values only on the temperature column.
# Duplicate values are yet to be found 

# Finding null values in the dataframe
missing_values = icsd_df.isnull().sum()
print("The number of missing values in each column of the data set is:");
print(missing_values)
print()

# Identifying all null values
all_missing_rows = icsd_df[icsd_df.isnull().any(axis=1)]
print("All rows with missing values in the data set are:");
print(all_missing_rows)
print("=" * 100)
print()

# Checking complete duplicate record
duplicate_record = icsd_df.duplicated().sum()
print("The number of duplicate records in the data set is:");
print(duplicate_record)
print()

# Identifying all duplicate rows including the first occurrence
all_duplicate_rows = icsd_df[icsd_df.duplicated(keep=False)]
print("All duplicate rows in the data set are:");
print(all_duplicate_rows)
print("=" * 100)
print()

# Based on the two results above, we can see that there are two rows with Null Vlues for temperature and one complete duplicate row. 
# Taking into account the dataframe is of 61 records, it seems fitting that it should be 60. So we will determine to remove or "drop" the duplicate row.

# Address the null values by replacing them with the mean of the column
icsd_df['temperature'] = icsd_df["temperature"].fillna(icsd_df["temperature"].median())
print(icsd_df.info())
print()

# Dropping duplicate rows
icsd_df = icsd_df.drop_duplicates()
print(icsd_df.info())
print("=" * 100)
print()

# Final cleaned dataframe and answer
cleaned_icsd_df = icsd_df
print("The cleaned data set without null values and duplicate records is:");
print(cleaned_icsd_df)
print(cleaned_icsd_df.info())
print("=" * 100)
print()

## Question 2

Create a pivot table to summarize the total sales volume of ice cream products by month and temperature range.
Use the following temperature bins where each bin excludes the upper bound but includes the lower bound:
- Less than 60 degrees
- 60 to less than 70 degrees
- 70 to less than 80 degrees
- 80 to less than 90 degrees
- 90 to less than 100 degrees
- 100 degrees or more

In [ ]:
# Load the ice cream sales data
icsd_df = ice_cream_sales_data.copy()
print(icsd_df)
print("=" * 100)
print()

# Display initial information about the dataframe
print(icsd_df.info())
print("=" * 100)
print()

# Comments: We can see from the dataframe information that there is a total of 61 entries and there are mising values only on the temperature column.
# Duplicate values are yet to be found 

# Finding null values in the dataframe
missing_values = icsd_df.isnull().sum()
print("The number of missing values in each column of the data set is:");
print(missing_values)
print()

# Identifying all null values
all_missing_rows = icsd_df[icsd_df.isnull().any(axis=1)]
print("All rows with missing values in the data set are:");
print(all_missing_rows)
print("=" * 100)
print()

# Checking complete duplicate record
duplicate_record = icsd_df.duplicated().sum()
print("The number of duplicate records in the data set is:");
print(duplicate_record)
print()

# Identifying all duplicate rows including the first occurrence
all_duplicate_rows = icsd_df[icsd_df.duplicated(keep=False)]
print("All duplicate rows in the data set are:");
print(all_duplicate_rows)
print("=" * 100)
print()

# Based on the two results above, we can see that there are two rows with Null Vlues for temperature and one complete duplicate row. 
# Taking into account the dataframe is of 61 records, it seems fitting that it should be 60. So we will determine to remove or "drop" the duplicate row.

# Address the null values by replacing them with the mean of the column
icsd_df['temperature'] = icsd_df["temperature"].fillna(icsd_df["temperature"].median())
print(icsd_df.info())
print()

# Dropping duplicate rows
icsd_df = icsd_df.drop_duplicates()
print(icsd_df.info())
print("=" * 100)
print()

# Final cleaned dataframe and answer
cleaned_icsd_df = icsd_df
print("The cleaned data set without null values and duplicate records is:");
print(cleaned_icsd_df)
print(cleaned_icsd_df.info())
print("=" * 100)
print()

###################################

icsd_q2_df = cleaned_icsd_df.copy()
print(icsd_q2_df.head())
print(icsd_q2_df.info())
print("=" * 100)
print()

# First we need to change the sales_date column to datetime format
icsd_q2_df["sale_date"] = pd.to_datetime(icsd_q2_df["sale_date"], format="%Y-%m-%d")
print(icsd_q2_df.info())
print(icsd_q2_df.head())
print("=" * 100)
print()

# Now we create two new columns for month and year. Note that the month will be in string format
icsd_q2_df['sale_month'] = icsd_q2_df['sale_date'].dt.month_name()
icsd_q2_df['sale_year'] =icsd_q2_df['sale_date'].dt.year
print(icsd_q2_df.head())
print(icsd_q2_df.info())
print("=" * 100)
print()

#Now we have to do a group by on the month and temperature range columns to get the total sales volume
icsd_q2_df = icsd_q2_df.groupby(['sale_year', 'sale_month', 'temperature']).agg(total_sales_volume = ('sales_volume', 'sum')).sort_values(by=['sale_month', 'sale_year', 'temperature'])

# We reset the index to make sale_year and sale_month columns again instead of index
icsd_q2_df = icsd_q2_df.reset_index()
print(icsd_q2_df)
print("=" * 100)
print()

# Now we sort the dataframe by year and month in ascending order for better readability
icsd_q2_df = icsd_q2_df.sort_values(['sale_year','sale_month'], ascending=True)
print(icsd_q2_df)
print("=" * 100)
print()

# Now we create temperature ranges using pd.cut()
# We define the bins and labels for the temperature ranges using np.inf to cover all possible values above and below certain thresholds
temperature_bins = [-np.inf, 60, 70, 80, 90, 100, np.inf]
temperature_labels = ['<60', '60-69', '70-79', '80-89', '90-99', '100+']

icsd_q2_df['temperature_range'] = pd.cut(icsd_q2_df['temperature'], bins=temperature_bins, labels=temperature_labels, right=False)
print(icsd_q2_df)
print("=" * 100)
print()

# Now we can create the pivot table
pivot_table = icsd_q2_df.pivot_table(index= ['sale_year', 'sale_month'], columns='temperature_range', values=['total_sales_volume'], observed=True, aggfunc='sum', fill_value=0)
print(pivot_table)
print("=" * 100)
print()
print("=" * 100)
print()

# Answer: The pivot table summarizing the total sales volume of ice cream products by month and temperature range is displayed above.
print("The pivot table summarizing the total sales volume of ice cream products by month and temperature range is:");
print(pivot_table)

## Question 3

Can you detect any outliers in the monthly sales volume using the Inter Quartile Range (IQR) method? A month is considered an outlier if falls below Q1 minus 1.5 times the IQR or above Q3 plus 1.5 times the IQR.

In [ ]:
# Load the ice cream sales data
icsd_df = ice_cream_sales_data.copy()
print(icsd_df)
print("=" * 100)
print()

# Display initial information about the dataframe
print(icsd_df.info())
print("=" * 100)
print()

# Comments: We can see from the dataframe information that there is a total of 61 entries and there are mising values only on the temperature column.
# Duplicate values are yet to be found 

# Finding null values in the dataframe
missing_values = icsd_df.isnull().sum()
print("The number of missing values in each column of the data set is:");
print(missing_values)
print()

# Identifying all null values
all_missing_rows = icsd_df[icsd_df.isnull().any(axis=1)]
print("All rows with missing values in the data set are:");
print(all_missing_rows)
print("=" * 100)
print()

# Checking complete duplicate record
duplicate_record = icsd_df.duplicated().sum()
print("The number of duplicate records in the data set is:");
print(duplicate_record)
print()

# Identifying all duplicate rows including the first occurrence
all_duplicate_rows = icsd_df[icsd_df.duplicated(keep=False)]
print("All duplicate rows in the data set are:");
print(all_duplicate_rows)
print("=" * 100)
print()

# Based on the two results above, we can see that there are two rows with Null Vlues for temperature and one complete duplicate row. 
# Taking into account the dataframe is of 61 records, it seems fitting that it should be 60. So we will determine to remove or "drop" the duplicate row.

# Address the null values by replacing them with the mean of the column
icsd_df['temperature'] = icsd_df["temperature"].fillna(icsd_df["temperature"].median())
print(icsd_df.info())
print()

# Dropping duplicate rows
icsd_df = icsd_df.drop_duplicates()
print(icsd_df.info())
print("=" * 100)
print()

# Final cleaned dataframe and answer
cleaned_icsd_df = icsd_df
print("The cleaned data set without null values and duplicate records is:");
print(cleaned_icsd_df)
print(cleaned_icsd_df.info())
print("=" * 100)
print()

###################################

icsd_q2_df = cleaned_icsd_df.copy()
print(icsd_q2_df.head())
print(icsd_q2_df.info())
print("=" * 100)
print()

# First we need to change the sales_date column to datetime format
icsd_q2_df["sale_date"] = pd.to_datetime(icsd_q2_df["sale_date"], format="%Y-%m-%d")
print(icsd_q2_df.info())
print(icsd_q2_df.head())
print("=" * 100)
print()

# Now we create two new columns for month and year. Note that the month will be in string format
icsd_q2_df['sale_month'] = icsd_q2_df['sale_date'].dt.month_name()
icsd_q2_df['sale_year'] =icsd_q2_df['sale_date'].dt.year

month_year_icsd_df = icsd_q2_df
print(month_year_icsd_df.head())
print(month_year_icsd_df.info())
print("=" * 100)
print()

#Now we have to do a group by on the month and temperature range columns to get the total sales volume
monthy_sales_volume_df = month_year_icsd_df.groupby(['sale_year', 'sale_month', 'temperature']).agg(total_sales_volume = ('sales_volume', 'sum')).sort_values(by=['sale_month', 'sale_year', 'temperature'])

# We reset the index to make sale_year and sale_month columns again instead of index
icsd_q2_df = monthy_sales_volume_df.reset_index()
icsd_q2_df
print("=" * 100)
print()

# Now we sort the dataframe by year and month in ascending order for better readability
icsd_q2_df = icsd_q2_df.sort_values(['sale_year','sale_month'], ascending=True)
print(icsd_q2_df)
print("=" * 100)
print()

# Now we create temperature ranges using pd.cut()
# We define the bins and labels for the temperature ranges using np.inf to cover all possible values above and below certain thresholds
temperature_bins = [-np.inf, 60, 70, 80, 90, 100, np.inf]
temperature_labels = ['<60', '60-69', '70-79', '80-89', '90-99', '100+']

icsd_q2_df['temperature_range'] = pd.cut(icsd_q2_df['temperature'], bins=temperature_bins, labels=temperature_labels, right=False)
print(icsd_q2_df)
print("=" * 100)
print()

# Now we can create the pivot table
pivot_table = icsd_q2_df.pivot_table(index= ['sale_year', 'sale_month'], columns='temperature_range', values=['total_sales_volume'], observed=True, aggfunc='sum', fill_value=0)
print(pivot_table)
print("=" * 100)
print()
print("=" * 100)
print()

# Answer: The pivot table summarizing the total sales volume of ice cream products by month and temperature range is displayed above.
print("The pivot table summarizing the total sales volume of ice cream products by month and temperature range is:");
print(pivot_table)

#############################################################

icsd_q3_df = month_year_icsd_df.copy()
print(icsd_q3_df)
print("=" * 100)
print()

print(icsd_q3_df.head())
print(icsd_q3_df.info())
print("=" * 100)
print()

#Now we have to do a group by on the month and temperature range columns to get the total sales volume
monthy_sales_volume_df = icsd_q3_df.groupby(['sale_year', 'sale_month']).agg(total_sales_volume = ('sales_volume', 'sum')).sort_values(by=['sale_month', 'sale_year'])
# Now we sort the dataframe by year and month in ascending order for better readability
monthy_sales_volume_df = monthy_sales_volume_df.sort_values(['sale_year','sale_month'], ascending=True)

# We reset the index to make sale_year and sale_month columns again instead of index
icsd_q3_df = monthy_sales_volume_df.reset_index()
print(icsd_q3_df)
print("=" * 100)
print()

# # Boxplot to visualize outliers in total_sales_volume
# icsd_q3_df.boxplot(column='total_sales_volume', grid=False)
# print(plt.show())

# From this boxplot we can see there are what appears to be two outliers. Lets check which ones would be

# Check for outliers in continuous variables
outliers = icsd_q3_df['total_sales_volume'].describe()
print("\nSummary of the numerical features, including outliers:")
print(outliers)
print("=" * 100)
print()

# Calculating IQR and bounds for outlier detection
# IQR method to detect outliers
# IQE = Q3 - Q1
Q1 = icsd_q3_df['total_sales_volume'].quantile(0.25)
Q3 = icsd_q3_df['total_sales_volume'].quantile(0.75)
IQR = Q3 - Q1
print("\nThe Interquartile Range (IQR) is:", IQR)
print("=" * 100)
print()

# Calculating the lower and upper bounds for outlier detection
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
print("\nThe lower bound for detecting outliers is:", lower_bound)
print("The upper bound for detecting outliers is:", upper_bound)
print("=" * 100)
print()

# Identifying the outlier months based on the calculated bounds
outlier_months = icsd_q3_df[(icsd_q3_df['total_sales_volume'] < lower_bound) | (icsd_q3_df['total_sales_volume'] > upper_bound)]
print("\nThe months with outlier total sales volume are:");
print(outlier_months)
print("=" * 100)
print()

# Answer: The months with outlier total sales volume are:
print("The months with outlier total sales volume are:");
print(outlier_months)

print("=" * 100)
print()

Made with ❤️ by [Interview Master](https://www.interviewmaster.ai)