Day 3 of Python Summer Party
by Interview Master

Disney

Disney Parks Guest Spending Behavior

You are a data analyst working with the Disney Parks revenue team to understand nuanced guest spending patterns across different park experiences. The team wants to develop a comprehensive view of visitor purchasing behaviors. Your goal is to uncover meaningful insights that can drive personalized marketing strategies.

In [1]:
import pandas as pd
import numpy as np

In [2]:
fct_guest_spending = pd.read_csv("fct_guest_spending.csv")

Question 1 of 3

What is the average spending per guest per visit for each park experience type during July 2024? Ensure that park experience types with no recorded transactions are shown with an average spending of 0.0. This analysis helps establish baseline spending differences essential for later segmentation.

In [ ]:
# Note: pandas and numpy are already imported as pd and np
# The following tables are loaded as pandas DataFrames with the same names: fct_guest_spending
# Please print your final result or dataframe

# Copy data into new Dataframe to avoid changes to original DataFrame
Spending_df = fct_guest_spending.copy()

# Exploring Data
print("Show the data")
print(Spending_df)
print("-" * 50)
print()

print("Data type and information of columns") 
print(Spending_df.info())
print("-" * 50)
print()

##############################################
print("July 2024 Data")
July_df = Spending_df.query("visit_date >= '2024-07-01' and visit_date < '2024-08-01'")
print(July_df)
print("-" * 50)
print()

print("Group by Guest ID, Visit date, and Park Experience")
Grouping_df = July_df.groupby(["guest_id", "visit_date", "park_experience_type"])[
    "amount_spent"
].sum()
print(Grouping_df)
print()

average_per_experience = Grouping_df.groupby("park_experience_type").mean()
print(Grouping_df)
print()

print("All unique Experience types")
all_experience_types = Spending_df["park_experience_type"].unique()
print(all_experience_types)
print("-" * 50)
print()

average_per_experience = average_per_experience.reindex(
    all_experience_types, fill_value=0.0
)
print(average_per_experience)
print("-" * 50)
print()

average_per_experience_df = average_per_experience.reset_index(
    name="avg_spent_per_guest_per_visit"
)
print(average_per_experience_df)
print("-" * 50)
print()


# Show the data
#     guest_id visit_date  amount_spent park_experience_type
# 0          1 2024-07-05          50.0           Attraction
# 1          2 2024-07-06          30.0               Dining
# 2          3 2024-07-10          20.5               Retail
# 3          4 2024-07-12          40.0        Entertainment
# 4          1 2024-07-15          35.0               Dining
# 5          5 2024-07-20          60.0           Attraction
# 6          6 2024-07-25          25.0               Retail
# 7          1 2024-08-03          55.0           Attraction
# 8          1 2024-08-15          45.0               Dining
# 9          2 2024-08-05          22.0               Retail
# 10         2 2024-08-20          38.0        Entertainment
# 11         7 2024-08-10          15.0       Character Meet
# 12         3 2024-08-25          28.0               Retail
# 13         3 2024-08-27          32.0               Dining
# 14         1 2024-09-02          65.0           Attraction
# 15         8 2024-09-05          50.0               Retail
# 16         9 2024-09-15          40.0               Dining
# 17        10 2024-09-20          70.0        Entertainment
# 18         1 2024-09-25          35.0               Dining
# 19         8 2024-09-28          10.0       Character Meet
# --------------------------------------------------

# Data type and information of columns
# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 20 entries, 0 to 19
# Data columns (total 4 columns):
#  #   Column                Non-Null Count  Dtype
# ---  ------                --------------  -----
#  0   guest_id              20 non-null     Int64
#  1   visit_date            20 non-null     datetime64[ns]
#  2   amount_spent          20 non-null     float64
#  3   park_experience_type  20 non-null     string
# dtypes: Int64(1), datetime64[ns](1), float64(1), string(1)
# memory usage: 652.0 bytes
# None
# --------------------------------------------------

# July 2024 Data
#    guest_id visit_date  amount_spent park_experience_type
# 0         1 2024-07-05          50.0           Attraction
# 1         2 2024-07-06          30.0               Dining
# 2         3 2024-07-10          20.5               Retail
# 3         4 2024-07-12          40.0        Entertainment
# 4         1 2024-07-15          35.0               Dining
# 5         5 2024-07-20          60.0           Attraction
# 6         6 2024-07-25          25.0               Retail
# --------------------------------------------------

# Group by Guest ID, Visit date, and Park Experience
# guest_id  visit_date  park_experience_type
# 1         2024-07-05  Attraction              50.0
#           2024-07-15  Dining                  35.0
# 2         2024-07-06  Dining                  30.0
# 3         2024-07-10  Retail                  20.5
# 4         2024-07-12  Entertainment           40.0
# 5         2024-07-20  Attraction              60.0
# 6         2024-07-25  Retail                  25.0
# Name: amount_spent, dtype: float64

# guest_id  visit_date  park_experience_type
# 1         2024-07-05  Attraction              50.0
#           2024-07-15  Dining                  35.0
# 2         2024-07-06  Dining                  30.0
# 3         2024-07-10  Retail                  20.5
# 4         2024-07-12  Entertainment           40.0
# 5         2024-07-20  Attraction              60.0
# 6         2024-07-25  Retail                  25.0
# Name: amount_spent, dtype: float64

# All unique Experience types
# <StringArray>
# ['Attraction', 'Dining', 'Retail', 'Entertainment', 'Character Meet']
# Length: 5, dtype: string
# --------------------------------------------------

# park_experience_type
# Attraction        55.00
# Dining            32.50
# Retail            22.75
# Entertainment     40.00
# Character Meet     0.00
# Name: amount_spent, dtype: float64
# --------------------------------------------------

#   park_experience_type  avg_spent_per_guest_per_visit
# 0           Attraction                          55.00
# 1               Dining                          32.50
# 2               Retail                          22.75
# 3        Entertainment                          40.00
# 4       Character Meet                           0.00
# --------------------------------------------------

Show the data
    guest_id  visit_date  amount_spent park_experience_type
0          1  2024-07-05          50.0           Attraction
1          2  2024-07-06          30.0               Dining
2          3  2024-07-10          20.5               Retail
3          4  2024-07-12          40.0        Entertainment
4          1  2024-07-15          35.0               Dining
5          5  2024-07-20          60.0           Attraction
6          6  2024-07-25          25.0               Retail
7          1  2024-08-03          55.0           Attraction
8          1  2024-08-15          45.0               Dining
9          2  2024-08-05          22.0               Retail
10         2  2024-08-20          38.0        Entertainment
11         7  2024-08-10          15.0       Character Meet
12         3  2024-08-25          28.0               Retail
13         3  2024-08-27          32.0               Dining
14         1  2024-09-02          65.0           Attraction
15         8  2024-09-05          50.0               Retail
16         9  2024-09-15          40.0               Dining
17        10  2024-09-20          70.0        Entertainment
18         1  2024-09-25          35.0               Dining
19         8  2024-09-28          10.0       Character Meet
--------------------------------------------------

Data type and information of columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   guest_id              20 non-null     int64
 1   visit_date            20 non-null     object
 2   amount_spent          20 non-null     float64
 3   park_experience_type  20 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 772.0+ bytes
None
--------------------------------------------------

July 2024 Data
   guest_id  visit_date  amount_spent park_experience_type
0         1  2024-07-05          50.0           Attraction
1         2  2024-07-06          30.0               Dining
2         3  2024-07-10          20.5               Retail
3         4  2024-07-12          40.0        Entertainment
4         1  2024-07-15          35.0               Dining
5         5  2024-07-20          60.0           Attraction
6         6  2024-07-25          25.0               Retail
--------------------------------------------------

Group by Guest ID, Visit date, and Park Experience
guest_id  visit_date  park_experience_type
1         2024-07-05  Attraction              50.0
          2024-07-15  Dining                  35.0
2         2024-07-06  Dining                  30.0
3         2024-07-10  Retail                  20.5
4         2024-07-12  Entertainment           40.0
5         2024-07-20  Attraction              60.0
6         2024-07-25  Retail                  25.0
Name: amount_spent, dtype: float64

guest_id  visit_date  park_experience_type
1         2024-07-05  Attraction              50.0
          2024-07-15  Dining                  35.0
2         2024-07-06  Dining                  30.0
3         2024-07-10  Retail                  20.5
4         2024-07-12  Entertainment           40.0
5         2024-07-20  Attraction              60.0
6         2024-07-25  Retail                  25.0
Name: amount_spent, dtype: float64

All unique Experience types
['Attraction' 'Dining' 'Retail' 'Entertainment' 'Character Meet']
--------------------------------------------------

park_experience_type
Attraction        55.00
Dining            32.50
Retail            22.75
Entertainment     40.00
Character Meet     0.00
Name: amount_spent, dtype: float64
--------------------------------------------------

  park_experience_type  avg_spent_per_guest_per_visit
0           Attraction                          55.00
1               Dining                          32.50
2               Retail                          22.75
3        Entertainment                          40.00
4       Character Meet                           0.00
--------------------------------------------------

In [4]:
# Note: pandas and numpy are already imported as pd and np
# The following tables are loaded as pandas DataFrames with the same names: fct_guest_spending
# Please print your final result or dataframe

# Copy data into new Dataframe to avoid changes to original DataFrame
Spending_df = fct_guest_spending.copy()

# Exploring Data
print("Show the data")
print(Spending_df)
print("-" * 50)
print()

print("Data type and information of columns")
print(Spending_df.info())
print("-" * 50)
print()

##############################################
print("July 2024 Data")
July_df = Spending_df.query("visit_date >= '2024-07-01' and visit_date < '2024-08-01'")
print(July_df)
print("-" * 50)
print()


grouped_spending = July_df.groupby(["guest_id", "visit_date", "park_experience_type"])[
    "amount_spent"
].sum()
print(grouped_spending)
print("-" * 50)
print()

guest_visits = July_df[["guest_id", "visit_date"]].drop_duplicates()
print(guest_visits)
print("-" * 50)
print()

experience_types = Spending_df["park_experience_type"].dropna().unique()
print(experience_types)
print("-" * 50)
print()

idx = pd.MultiIndex.from_product(
    [guest_visits["guest_id"], guest_visits["visit_date"], experience_types],
    names=["guest_id", "visit_date", "park_experience_type"],
)
print(idx)
print("-" * 50)
print()

full_spending = grouped_spending.reindex(idx, fill_value=0.0).reset_index()
print(full_spending)
print("-" * 50)
print()

final_result = (
    full_spending.groupby("park_experience_type")["amount_spent"]
    .mean()
    .reset_index(name="avg_spent_per_guest_per_visit")
)
print(final_result)
print("-" * 50)
print()


# Show the data
#     guest_id visit_date  amount_spent park_experience_type
# 0          1 2024-07-05          50.0           Attraction
# 1          2 2024-07-06          30.0               Dining
# 2          3 2024-07-10          20.5               Retail
# 3          4 2024-07-12          40.0        Entertainment
# 4          1 2024-07-15          35.0               Dining
# 5          5 2024-07-20          60.0           Attraction
# 6          6 2024-07-25          25.0               Retail
# 7          1 2024-08-03          55.0           Attraction
# 8          1 2024-08-15          45.0               Dining
# 9          2 2024-08-05          22.0               Retail
# 10         2 2024-08-20          38.0        Entertainment
# 11         7 2024-08-10          15.0       Character Meet
# 12         3 2024-08-25          28.0               Retail
# 13         3 2024-08-27          32.0               Dining
# 14         1 2024-09-02          65.0           Attraction
# 15         8 2024-09-05          50.0               Retail
# 16         9 2024-09-15          40.0               Dining
# 17        10 2024-09-20          70.0        Entertainment
# 18         1 2024-09-25          35.0               Dining
# 19         8 2024-09-28          10.0       Character Meet
# --------------------------------------------------

# Data type and information of columns
# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 20 entries, 0 to 19
# Data columns (total 4 columns):
#  #   Column                Non-Null Count  Dtype
# ---  ------                --------------  -----
#  0   guest_id              20 non-null     Int64
#  1   visit_date            20 non-null     datetime64[ns]
#  2   amount_spent          20 non-null     float64
#  3   park_experience_type  20 non-null     string
# dtypes: Int64(1), datetime64[ns](1), float64(1), string(1)
# memory usage: 652.0 bytes
# None
# --------------------------------------------------

# July 2024 Data
#    guest_id visit_date  amount_spent park_experience_type
# 0         1 2024-07-05          50.0           Attraction
# 1         2 2024-07-06          30.0               Dining
# 2         3 2024-07-10          20.5               Retail
# 3         4 2024-07-12          40.0        Entertainment
# 4         1 2024-07-15          35.0               Dining
# 5         5 2024-07-20          60.0           Attraction
# 6         6 2024-07-25          25.0               Retail
# --------------------------------------------------

# guest_id  visit_date  park_experience_type
# 1         2024-07-05  Attraction              50.0
#           2024-07-15  Dining                  35.0
# 2         2024-07-06  Dining                  30.0
# 3         2024-07-10  Retail                  20.5
# 4         2024-07-12  Entertainment           40.0
# 5         2024-07-20  Attraction              60.0
# 6         2024-07-25  Retail                  25.0
# Name: amount_spent, dtype: float64
# --------------------------------------------------

#    guest_id visit_date
# 0         1 2024-07-05
# 1         2 2024-07-06
# 2         3 2024-07-10
# 3         4 2024-07-12
# 4         1 2024-07-15
# 5         5 2024-07-20
# 6         6 2024-07-25
# --------------------------------------------------

# <StringArray>
# ['Attraction', 'Dining', 'Retail', 'Entertainment', 'Character Meet']
# Length: 5, dtype: string
# --------------------------------------------------

# MultiIndex([(1, '2024-07-05',     'Attraction'),
#             (1, '2024-07-05',         'Dining'),
#             (1, '2024-07-05',         'Retail'),
#             (1, '2024-07-05',  'Entertainment'),
#             (1, '2024-07-05', 'Character Meet'),
#             (1, '2024-07-06',     'Attraction'),
#             (1, '2024-07-06',         'Dining'),
#             (1, '2024-07-06',         'Retail'),
#             (1, '2024-07-06',  'Entertainment'),
#             (1, '2024-07-06', 'Character Meet'),
#             ...
#             (6, '2024-07-20',     'Attraction'),
#             (6, '2024-07-20',         'Dining'),
#             (6, '2024-07-20',         'Retail'),
#             (6, '2024-07-20',  'Entertainment'),
#             (6, '2024-07-20', 'Character Meet'),
#             (6, '2024-07-25',     'Attraction'),
#             (6, '2024-07-25',         'Dining'),
#             (6, '2024-07-25',         'Retail'),
#             (6, '2024-07-25',  'Entertainment'),
#             (6, '2024-07-25', 'Character Meet')],
#            names=['guest_id', 'visit_date', 'park_experience_type'], length=245)
# --------------------------------------------------

#      guest_id visit_date park_experience_type  amount_spent
# 0           1 2024-07-05           Attraction          50.0
# 1           1 2024-07-05               Dining           0.0
# 2           1 2024-07-05               Retail           0.0
# 3           1 2024-07-05        Entertainment           0.0
# 4           1 2024-07-05       Character Meet           0.0
# 5           1 2024-07-06           Attraction           0.0
# 6           1 2024-07-06               Dining           0.0
# 7           1 2024-07-06               Retail           0.0
# 8           1 2024-07-06        Entertainment           0.0
# 9           1 2024-07-06       Character Meet           0.0
# 10          1 2024-07-10           Attraction           0.0
# 11          1 2024-07-10               Dining           0.0
# 12          1 2024-07-10               Retail           0.0
# 13          1 2024-07-10        Entertainment           0.0
# 14          1 2024-07-10       Character Meet           0.0
# 15          1 2024-07-12           Attraction           0.0
# 16          1 2024-07-12               Dining           0.0
# 17          1 2024-07-12               Retail           0.0
# 18          1 2024-07-12        Entertainment           0.0
# 19          1 2024-07-12       Character Meet           0.0
# 20          1 2024-07-15           Attraction           0.0
# 21          1 2024-07-15               Dining          35.0
# 22          1 2024-07-15               Retail           0.0
# 23          1 2024-07-15        Entertainment           0.0
# 24          1 2024-07-15       Character Meet           0.0
# 25          1 2024-07-20           Attraction           0.0
# 26          1 2024-07-20               Dining           0.0
# 27          1 2024-07-20               Retail           0.0
# 28          1 2024-07-20        Entertainment           0.0
# 29          1 2024-07-20       Character Meet           0.0
# 30          1 2024-07-25           Attraction           0.0
# 31          1 2024-07-25               Dining           0.0
# 32          1 2024-07-25               Retail           0.0
# 33          1 2024-07-25        Entertainment           0.0
# 34          1 2024-07-25       Character Meet           0.0
# 35          2 2024-07-05           Attraction           0.0
# 36          2 2024-07-05               Dining           0.0
# 37          2 2024-07-05               Retail           0.0
# 38          2 2024-07-05        Entertainment           0.0
# 39          2 2024-07-05       Character Meet           0.0
# 40          2 2024-07-06           Attraction           0.0
# 41          2 2024-07-06               Dining          30.0
# 42          2 2024-07-06               Retail           0.0
# 43          2 2024-07-06        Entertainment           0.0
# 44          2 2024-07-06       Character Meet           0.0
# 45          2 2024-07-10           Attraction           0.0
# 46          2 2024-07-10               Dining           0.0
# 47          2 2024-07-10               Retail           0.0
# 48          2 2024-07-10        Entertainment           0.0
# 49          2 2024-07-10       Character Meet           0.0
# 50          2 2024-07-12           Attraction           0.0
# 51          2 2024-07-12               Dining           0.0
# 52          2 2024-07-12               Retail           0.0
# 53          2 2024-07-12        Entertainment           0.0
# 54          2 2024-07-12       Character Meet           0.0
# 55          2 2024-07-15           Attraction           0.0
# 56          2 2024-07-15               Dining           0.0
# 57          2 2024-07-15               Retail           0.0
# 58          2 2024-07-15        Entertainment           0.0
# 59          2 2024-07-15       Character Meet           0.0
# 60          2 2024-07-20           Attraction           0.0
# 61          2 2024-07-20               Dining           0.0
# 62          2 2024-07-20               Retail           0.0
# 63          2 2024-07-20        Entertainment           0.0
# 64          2 2024-07-20       Character Meet           0.0
# 65          2 2024-07-25           Attraction           0.0
# 66          2 2024-07-25               Dining           0.0
# 67          2 2024-07-25               Retail           0.0
# 68          2 2024-07-25        Entertainment           0.0
# 69          2 2024-07-25       Character Meet           0.0
# 70          3 2024-07-05           Attraction           0.0
# 71          3 2024-07-05               Dining           0.0
# 72          3 2024-07-05               Retail           0.0
# 73          3 2024-07-05        Entertainment           0.0
# 74          3 2024-07-05       Character Meet           0.0
# 75          3 2024-07-06           Attraction           0.0
# 76          3 2024-07-06               Dining           0.0
# 77          3 2024-07-06               Retail           0.0
# 78          3 2024-07-06        Entertainment           0.0
# 79          3 2024-07-06       Character Meet           0.0
# 80          3 2024-07-10           Attraction           0.0
# 81          3 2024-07-10               Dining           0.0
# 82          3 2024-07-10               Retail          20.5
# 83          3 2024-07-10        Entertainment           0.0
# 84          3 2024-07-10       Character Meet           0.0
# 85          3 2024-07-12           Attraction           0.0
# 86          3 2024-07-12               Dining           0.0
# 87          3 2024-07-12               Retail           0.0
# 88          3 2024-07-12        Entertainment           0.0
# 89          3 2024-07-12       Character Meet           0.0
# 90          3 2024-07-15           Attraction           0.0
# 91          3 2024-07-15               Dining           0.0
# 92          3 2024-07-15               Retail           0.0
# 93          3 2024-07-15        Entertainment           0.0
# 94          3 2024-07-15       Character Meet           0.0
# 95          3 2024-07-20           Attraction           0.0
# 96          3 2024-07-20               Dining           0.0
# 97          3 2024-07-20               Retail           0.0
# 98          3 2024-07-20        Entertainment           0.0
# 99          3 2024-07-20       Character Meet           0.0
# 100         3 2024-07-25           Attraction           0.0
# 101         3 2024-07-25               Dining           0.0
# 102         3 2024-07-25               Retail           0.0
# 103         3 2024-07-25        Entertainment           0.0
# 104         3 2024-07-25       Character Meet           0.0
# 105         4 2024-07-05           Attraction           0.0
# 106         4 2024-07-05               Dining           0.0
# 107         4 2024-07-05               Retail           0.0
# 108         4 2024-07-05        Entertainment           0.0
# 109         4 2024-07-05       Character Meet           0.0
# 110         4 2024-07-06           Attraction           0.0
# 111         4 2024-07-06               Dining           0.0
# 112         4 2024-07-06               Retail           0.0
# 113         4 2024-07-06        Entertainment           0.0
# 114         4 2024-07-06       Character Meet           0.0
# 115         4 2024-07-10           Attraction           0.0
# 116         4 2024-07-10               Dining           0.0
# 117         4 2024-07-10               Retail           0.0
# 118         4 2024-07-10        Entertainment           0.0
# 119         4 2024-07-10       Character Meet           0.0
# 120         4 2024-07-12           Attraction           0.0
# 121         4 2024-07-12               Dining           0.0
# 122         4 2024-07-12               Retail           0.0
# 123         4 2024-07-12        Entertainment          40.0
# 124         4 2024-07-12       Character Meet           0.0
# 125         4 2024-07-15           Attraction           0.0
# 126         4 2024-07-15               Dining           0.0
# 127         4 2024-07-15               Retail           0.0
# 128         4 2024-07-15        Entertainment           0.0
# 129         4 2024-07-15       Character Meet           0.0
# 130         4 2024-07-20           Attraction           0.0
# 131         4 2024-07-20               Dining           0.0
# 132         4 2024-07-20               Retail           0.0
# 133         4 2024-07-20        Entertainment           0.0
# 134         4 2024-07-20       Character Meet           0.0
# 135         4 2024-07-25           Attraction           0.0
# 136         4 2024-07-25               Dining           0.0
# 137         4 2024-07-25               Retail           0.0
# 138         4 2024-07-25        Entertainment           0.0
# 139         4 2024-07-25       Character Meet           0.0
# 140         1 2024-07-05           Attraction          50.0
# 141         1 2024-07-05               Dining           0.0
# 142         1 2024-07-05               Retail           0.0
# 143         1 2024-07-05        Entertainment           0.0
# 144         1 2024-07-05       Character Meet           0.0
# 145         1 2024-07-06           Attraction           0.0
# 146         1 2024-07-06               Dining           0.0
# 147         1 2024-07-06               Retail           0.0
# 148         1 2024-07-06        Entertainment           0.0
# 149         1 2024-07-06       Character Meet           0.0
# 150         1 2024-07-10           Attraction           0.0
# 151         1 2024-07-10               Dining           0.0
# 152         1 2024-07-10               Retail           0.0
# 153         1 2024-07-10        Entertainment           0.0
# 154         1 2024-07-10       Character Meet           0.0
# 155         1 2024-07-12           Attraction           0.0
# 156         1 2024-07-12               Dining           0.0
# 157         1 2024-07-12               Retail           0.0
# 158         1 2024-07-12        Entertainment           0.0
# 159         1 2024-07-12       Character Meet           0.0
# 160         1 2024-07-15           Attraction           0.0
# 161         1 2024-07-15               Dining          35.0
# 162         1 2024-07-15               Retail           0.0
# 163         1 2024-07-15        Entertainment           0.0
# 164         1 2024-07-15       Character Meet           0.0
# 165         1 2024-07-20           Attraction           0.0
# 166         1 2024-07-20               Dining           0.0
# 167         1 2024-07-20               Retail           0.0
# 168         1 2024-07-20        Entertainment           0.0
# 169         1 2024-07-20       Character Meet           0.0
# 170         1 2024-07-25           Attraction           0.0
# 171         1 2024-07-25               Dining           0.0
# 172         1 2024-07-25               Retail           0.0
# 173         1 2024-07-25        Entertainment           0.0
# 174         1 2024-07-25       Character Meet           0.0
# 175         5 2024-07-05           Attraction           0.0
# 176         5 2024-07-05               Dining           0.0
# 177         5 2024-07-05               Retail           0.0
# 178         5 2024-07-05        Entertainment           0.0
# 179         5 2024-07-05       Character Meet           0.0
# 180         5 2024-07-06           Attraction           0.0
# 181         5 2024-07-06               Dining           0.0
# 182         5 2024-07-06               Retail           0.0
# 183         5 2024-07-06        Entertainment           0.0
# 184         5 2024-07-06       Character Meet           0.0
# 185         5 2024-07-10           Attraction           0.0
# 186         5 2024-07-10               Dining           0.0
# 187         5 2024-07-10               Retail           0.0
# 188         5 2024-07-10        Entertainment           0.0
# 189         5 2024-07-10       Character Meet           0.0
# 190         5 2024-07-12           Attraction           0.0
# 191         5 2024-07-12               Dining           0.0
# 192         5 2024-07-12               Retail           0.0
# 193         5 2024-07-12        Entertainment           0.0
# 194         5 2024-07-12       Character Meet           0.0
# 195         5 2024-07-15           Attraction           0.0
# 196         5 2024-07-15               Dining           0.0
# 197         5 2024-07-15               Retail           0.0
# 198         5 2024-07-15        Entertainment           0.0
# 199         5 2024-07-15       Character Meet           0.0
# 200         5 2024-07-20           Attraction          60.0
# 201         5 2024-07-20               Dining           0.0
# 202         5 2024-07-20               Retail           0.0
# 203         5 2024-07-20        Entertainment           0.0
# 204         5 2024-07-20       Character Meet           0.0
# 205         5 2024-07-25           Attraction           0.0
# 206         5 2024-07-25               Dining           0.0
# 207         5 2024-07-25               Retail           0.0
# 208         5 2024-07-25        Entertainment           0.0
# 209         5 2024-07-25       Character Meet           0.0
# 210         6 2024-07-05           Attraction           0.0
# 211         6 2024-07-05               Dining           0.0
# 212         6 2024-07-05               Retail           0.0
# 213         6 2024-07-05        Entertainment           0.0
# 214         6 2024-07-05       Character Meet           0.0
# 215         6 2024-07-06           Attraction           0.0
# 216         6 2024-07-06               Dining           0.0
# 217         6 2024-07-06               Retail           0.0
# 218         6 2024-07-06        Entertainment           0.0
# 219         6 2024-07-06       Character Meet           0.0
# 220         6 2024-07-10           Attraction           0.0
# 221         6 2024-07-10               Dining           0.0
# 222         6 2024-07-10               Retail           0.0
# 223         6 2024-07-10        Entertainment           0.0
# 224         6 2024-07-10       Character Meet           0.0
# 225         6 2024-07-12           Attraction           0.0
# 226         6 2024-07-12               Dining           0.0
# 227         6 2024-07-12               Retail           0.0
# 228         6 2024-07-12        Entertainment           0.0
# 229         6 2024-07-12       Character Meet           0.0
# 230         6 2024-07-15           Attraction           0.0
# 231         6 2024-07-15               Dining           0.0
# 232         6 2024-07-15               Retail           0.0
# 233         6 2024-07-15        Entertainment           0.0
# 234         6 2024-07-15       Character Meet           0.0
# 235         6 2024-07-20           Attraction           0.0
# 236         6 2024-07-20               Dining           0.0
# 237         6 2024-07-20               Retail           0.0
# 238         6 2024-07-20        Entertainment           0.0
# 239         6 2024-07-20       Character Meet           0.0
# 240         6 2024-07-25           Attraction           0.0
# 241         6 2024-07-25               Dining           0.0
# 242         6 2024-07-25               Retail          25.0
# 243         6 2024-07-25        Entertainment           0.0
# 244         6 2024-07-25       Character Meet           0.0
# --------------------------------------------------

#   park_experience_type  avg_spent_per_guest_per_visit
# 0           Attraction                       3.265306
# 1       Character Meet                       0.000000
# 2               Dining                       2.040816
# 3        Entertainment                       0.816327
# 4               Retail                       0.928571
# --------------------------------------------------

Show the data
    guest_id  visit_date  amount_spent park_experience_type
0          1  2024-07-05          50.0           Attraction
1          2  2024-07-06          30.0               Dining
2          3  2024-07-10          20.5               Retail
3          4  2024-07-12          40.0        Entertainment
4          1  2024-07-15          35.0               Dining
5          5  2024-07-20          60.0           Attraction
6          6  2024-07-25          25.0               Retail
7          1  2024-08-03          55.0           Attraction
8          1  2024-08-15          45.0               Dining
9          2  2024-08-05          22.0               Retail
10         2  2024-08-20          38.0        Entertainment
11         7  2024-08-10          15.0       Character Meet
12         3  2024-08-25          28.0               Retail
13         3  2024-08-27          32.0               Dining
14         1  2024-09-02          65.0           Attraction
15         8  2024-09-05          50.0               Retail
16         9  2024-09-15          40.0               Dining
17        10  2024-09-20          70.0        Entertainment
18         1  2024-09-25          35.0               Dining
19         8  2024-09-28          10.0       Character Meet
--------------------------------------------------

Data type and information of columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   guest_id              20 non-null     int64
 1   visit_date            20 non-null     object
 2   amount_spent          20 non-null     float64
 3   park_experience_type  20 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 772.0+ bytes
None
--------------------------------------------------

July 2024 Data
   guest_id  visit_date  amount_spent park_experience_type
0         1  2024-07-05          50.0           Attraction
1         2  2024-07-06          30.0               Dining
2         3  2024-07-10          20.5               Retail
3         4  2024-07-12          40.0        Entertainment
4         1  2024-07-15          35.0               Dining
5         5  2024-07-20          60.0           Attraction
6         6  2024-07-25          25.0               Retail
--------------------------------------------------

guest_id  visit_date  park_experience_type
1         2024-07-05  Attraction              50.0
          2024-07-15  Dining                  35.0
2         2024-07-06  Dining                  30.0
3         2024-07-10  Retail                  20.5
4         2024-07-12  Entertainment           40.0
5         2024-07-20  Attraction              60.0
6         2024-07-25  Retail                  25.0
Name: amount_spent, dtype: float64
--------------------------------------------------

   guest_id  visit_date
0         1  2024-07-05
1         2  2024-07-06
2         3  2024-07-10
3         4  2024-07-12
4         1  2024-07-15
5         5  2024-07-20
6         6  2024-07-25
--------------------------------------------------

['Attraction' 'Dining' 'Retail' 'Entertainment' 'Character Meet']
--------------------------------------------------

MultiIndex([(1, '2024-07-05',     'Attraction'),
            (1, '2024-07-05',         'Dining'),
            (1, '2024-07-05',         'Retail'),
            (1, '2024-07-05',  'Entertainment'),
            (1, '2024-07-05', 'Character Meet'),
            (1, '2024-07-06',     'Attraction'),
            (1, '2024-07-06',         'Dining'),
            (1, '2024-07-06',         'Retail'),
            (1, '2024-07-06',  'Entertainment'),
            (1, '2024-07-06', 'Character Meet'),
            ...
            (6, '2024-07-20',     'Attraction'),
            (6, '2024-07-20',         'Dining'),
            (6, '2024-07-20',         'Retail'),
            (6, '2024-07-20',  'Entertainment'),
            (6, '2024-07-20', 'Character Meet'),
            (6, '2024-07-25',     'Attraction'),
            (6, '2024-07-25',         'Dining'),
            (6, '2024-07-25',         'Retail'),
            (6, '2024-07-25',  'Entertainment'),
            (6, '2024-07-25', 'Character Meet')],
           names=['guest_id', 'visit_date', 'park_experience_type'], length=245)
--------------------------------------------------

     guest_id  visit_date park_experience_type  amount_spent
0           1  2024-07-05           Attraction          50.0
1           1  2024-07-05               Dining           0.0
2           1  2024-07-05               Retail           0.0
3           1  2024-07-05        Entertainment           0.0
4           1  2024-07-05       Character Meet           0.0
..        ...         ...                  ...           ...
240         6  2024-07-25           Attraction           0.0
241         6  2024-07-25               Dining           0.0
242         6  2024-07-25               Retail          25.0
243         6  2024-07-25        Entertainment           0.0
244         6  2024-07-25       Character Meet           0.0

[245 rows x 4 columns]
--------------------------------------------------

  park_experience_type  avg_spent_per_guest_per_visit
0           Attraction                       3.265306
1       Character Meet                       0.000000
2               Dining                       2.040816
3        Entertainment                       0.816327
4               Retail                       0.928571
--------------------------------------------------

Question 2 of 3

For guests who visited our parks more than once in August 2024, what is the difference in spending between their first and their last visit? This investigation, using sequential analysis, will reveal any shifts in guest spending behavior over multiple visits.

In [5]:
# Note: pandas and numpy are already imported as pd and np
# The following tables are loaded as pandas DataFrames with the same names: fct_guest_spending
# Please print your final result or dataframe

# Copy data into new Dataframe to avoid changes to original DataFrame
Spending_df = fct_guest_spending.copy()

# Exploring Data
print("Show the data")
print(Spending_df)
print("-" * 50)
print()

print("Data type and information of columns")
print(Spending_df.info())
print("-" * 50)
print()

##############################################
print("August 2024 Data")
July_df = Spending_df.query("visit_date >= '2024-08-01' and visit_date < '2024-09-01'")
print(July_df)
print("-" * 50)
print()

print("Filtering for repeating guests")
visit_counts = July_df["guest_id"].value_counts()
multi_visitors_df = July_df[
    July_df["guest_id"].isin(visit_counts[visit_counts > 1].index)
]
print(multi_visitors_df)
print("-" * 50)
print()

print("Sorting values in Order of Visit")
multi_visitors_df = multi_visitors_df.sort_values(["guest_id", "visit_date"])
print(multi_visitors_df)
print("-" * 50)
print()

print("Spending Difference")
spending_diff_df = (
    multi_visitors_df.groupby("guest_id")["amount_spent"]
    .agg(first="first", last="last")
    .assign(spending_difference=lambda df: df["last"] - df["first"])
    .reset_index()
)
print(spending_diff_df)
print("-" * 50)
print()

# Show the data
#     guest_id visit_date  amount_spent park_experience_type
# 0          1 2024-07-05          50.0           Attraction
# 1          2 2024-07-06          30.0               Dining
# 2          3 2024-07-10          20.5               Retail
# 3          4 2024-07-12          40.0        Entertainment
# 4          1 2024-07-15          35.0               Dining
# 5          5 2024-07-20          60.0           Attraction
# 6          6 2024-07-25          25.0               Retail
# 7          1 2024-08-03          55.0           Attraction
# 8          1 2024-08-15          45.0               Dining
# 9          2 2024-08-05          22.0               Retail
# 10         2 2024-08-20          38.0        Entertainment
# 11         7 2024-08-10          15.0       Character Meet
# 12         3 2024-08-25          28.0               Retail
# 13         3 2024-08-27          32.0               Dining
# 14         1 2024-09-02          65.0           Attraction
# 15         8 2024-09-05          50.0               Retail
# 16         9 2024-09-15          40.0               Dining
# 17        10 2024-09-20          70.0        Entertainment
# 18         1 2024-09-25          35.0               Dining
# 19         8 2024-09-28          10.0       Character Meet
# --------------------------------------------------

# Data type and information of columns
# <class 'pandas.core.frame.DataFrame'>
# RangeIndex: 20 entries, 0 to 19
# Data columns (total 4 columns):
#  #   Column                Non-Null Count  Dtype
# ---  ------                --------------  -----
#  0   guest_id              20 non-null     Int64
#  1   visit_date            20 non-null     datetime64[ns]
#  2   amount_spent          20 non-null     float64
#  3   park_experience_type  20 non-null     string
# dtypes: Int64(1), datetime64[ns](1), float64(1), string(1)
# memory usage: 652.0 bytes
# None
# --------------------------------------------------

# August 2024 Data
#     guest_id visit_date  amount_spent park_experience_type
# 7          1 2024-08-03          55.0           Attraction
# 8          1 2024-08-15          45.0               Dining
# 9          2 2024-08-05          22.0               Retail
# 10         2 2024-08-20          38.0        Entertainment
# 11         7 2024-08-10          15.0       Character Meet
# 12         3 2024-08-25          28.0               Retail
# 13         3 2024-08-27          32.0               Dining
# --------------------------------------------------

# Filtering for repeating guests
#     guest_id visit_date  amount_spent park_experience_type
# 7          1 2024-08-03          55.0           Attraction
# 8          1 2024-08-15          45.0               Dining
# 9          2 2024-08-05          22.0               Retail
# 10         2 2024-08-20          38.0        Entertainment
# 12         3 2024-08-25          28.0               Retail
# 13         3 2024-08-27          32.0               Dining
# --------------------------------------------------

# Sorting values in Order of Visit
#     guest_id visit_date  amount_spent park_experience_type
# 7          1 2024-08-03          55.0           Attraction
# 8          1 2024-08-15          45.0               Dining
# 9          2 2024-08-05          22.0               Retail
# 10         2 2024-08-20          38.0        Entertainment
# 12         3 2024-08-25          28.0               Retail
# 13         3 2024-08-27          32.0               Dining
# --------------------------------------------------

# Spending Difference
#    guest_id  first  last  spending_difference
# 0         1   55.0  45.0                -10.0
# 1         2   22.0  38.0                 16.0
# 2         3   28.0  32.0                  4.0
# --------------------------------------------------

Show the data
    guest_id  visit_date  amount_spent park_experience_type
0          1  2024-07-05          50.0           Attraction
1          2  2024-07-06          30.0               Dining
2          3  2024-07-10          20.5               Retail
3          4  2024-07-12          40.0        Entertainment
4          1  2024-07-15          35.0               Dining
5          5  2024-07-20          60.0           Attraction
6          6  2024-07-25          25.0               Retail
7          1  2024-08-03          55.0           Attraction
8          1  2024-08-15          45.0               Dining
9          2  2024-08-05          22.0               Retail
10         2  2024-08-20          38.0        Entertainment
11         7  2024-08-10          15.0       Character Meet
12         3  2024-08-25          28.0               Retail
13         3  2024-08-27          32.0               Dining
14         1  2024-09-02          65.0           Attraction
15         8  2024-09-05          50.0               Retail
16         9  2024-09-15          40.0               Dining
17        10  2024-09-20          70.0        Entertainment
18         1  2024-09-25          35.0               Dining
19         8  2024-09-28          10.0       Character Meet
--------------------------------------------------

Data type and information of columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   guest_id              20 non-null     int64
 1   visit_date            20 non-null     object
 2   amount_spent          20 non-null     float64
 3   park_experience_type  20 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 772.0+ bytes
None
--------------------------------------------------

August 2024 Data
    guest_id  visit_date  amount_spent park_experience_type
7          1  2024-08-03          55.0           Attraction
8          1  2024-08-15          45.0               Dining
9          2  2024-08-05          22.0               Retail
10         2  2024-08-20          38.0        Entertainment
11         7  2024-08-10          15.0       Character Meet
12         3  2024-08-25          28.0               Retail
13         3  2024-08-27          32.0               Dining
--------------------------------------------------

Filtering for repeating guests
    guest_id  visit_date  amount_spent park_experience_type
7          1  2024-08-03          55.0           Attraction
8          1  2024-08-15          45.0               Dining
9          2  2024-08-05          22.0               Retail
10         2  2024-08-20          38.0        Entertainment
12         3  2024-08-25          28.0               Retail
13         3  2024-08-27          32.0               Dining
--------------------------------------------------

Sorting values in Order of Visit
    guest_id  visit_date  amount_spent park_experience_type
7          1  2024-08-03          55.0           Attraction
8          1  2024-08-15          45.0               Dining
9          2  2024-08-05          22.0               Retail
10         2  2024-08-20          38.0        Entertainment
12         3  2024-08-25          28.0               Retail
13         3  2024-08-27          32.0               Dining
--------------------------------------------------

Spending Difference
   guest_id  first  last  spending_difference
0         1   55.0  45.0                -10.0
1         2   22.0  38.0                 16.0
2         3   28.0  32.0                  4.0
--------------------------------------------------

Question 3 of 3

In September 2024, how can guests be categorized into distinct spending segments such as Low, Medium, and High based on their total spending? Use the following thresholds for categorization:

- Low: Includes values from $0 up to, but not including, $50.
- Medium: Includes values from $50 up to, but not including, $100.
- High: Includes values from $100 and above.

Exclude guests who did not make any purchases in the period.

In [6]:
# Note: pandas and numpy are already imported as pd and np
# The following tables are loaded as pandas DataFrames with the same names: fct_guest_spending
# Please print your final result or dataframe

# Copy data into new Dataframe to avoid changes to original DataFrame
Spending_df = fct_guest_spending.copy()

# Exploring Data
print("Show the data")
print(Spending_df)
print("-" * 50)
print()

print("Data type and information of columns")
print(Spending_df.info())
print("-" * 50)
print()

##############################################
print("September 2024 Data")
Sept_df = Spending_df.query("visit_date >= '2024-09-01' and visit_date < '2024-10-01'")
print(Sept_df)
print("-" * 50)
print()

print("Total spending per guest")
Grouping_df = Sept_df.groupby(["guest_id"])["amount_spent"].sum()
print(Grouping_df)
print()


def segmentation(amount_spent):
    if 0 < amount_spent < 50:
        return "Low"
    elif 50 <= amount_spent < 100:
        return "Medium"
    elif amount_spent >= 100:
        return "High"
    else:
        return None  # Covers 0 or negative values explicitly


result_df = Grouping_df.to_frame(name="total_spent").reset_index()
result_df = result_df[result_df["total_spent"] > 0].copy()
result_df["spending_segment"] = result_df["total_spent"].apply(segmentation)
print(result_df)
print()

Show the data
    guest_id  visit_date  amount_spent park_experience_type
0          1  2024-07-05          50.0           Attraction
1          2  2024-07-06          30.0               Dining
2          3  2024-07-10          20.5               Retail
3          4  2024-07-12          40.0        Entertainment
4          1  2024-07-15          35.0               Dining
5          5  2024-07-20          60.0           Attraction
6          6  2024-07-25          25.0               Retail
7          1  2024-08-03          55.0           Attraction
8          1  2024-08-15          45.0               Dining
9          2  2024-08-05          22.0               Retail
10         2  2024-08-20          38.0        Entertainment
11         7  2024-08-10          15.0       Character Meet
12         3  2024-08-25          28.0               Retail
13         3  2024-08-27          32.0               Dining
14         1  2024-09-02          65.0           Attraction
15         8  2024-09-05          50.0               Retail
16         9  2024-09-15          40.0               Dining
17        10  2024-09-20          70.0        Entertainment
18         1  2024-09-25          35.0               Dining
19         8  2024-09-28          10.0       Character Meet
--------------------------------------------------

Data type and information of columns
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   guest_id              20 non-null     int64
 1   visit_date            20 non-null     object
 2   amount_spent          20 non-null     float64
 3   park_experience_type  20 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 772.0+ bytes
None
--------------------------------------------------

September 2024 Data
    guest_id  visit_date  amount_spent park_experience_type
14         1  2024-09-02          65.0           Attraction
15         8  2024-09-05          50.0               Retail
16         9  2024-09-15          40.0               Dining
17        10  2024-09-20          70.0        Entertainment
18         1  2024-09-25          35.0               Dining
19         8  2024-09-28          10.0       Character Meet
--------------------------------------------------

Total spending per guest
guest_id
1     100.0
8      60.0
9      40.0
10     70.0
Name: amount_spent, dtype: float64

   guest_id  total_spent spending_segment
0         1        100.0             High
1         8         60.0           Medium
2         9         40.0              Low
3        10         70.0           Medium